<div class="new-album">
  <img class="coverPhoto" [src]="photoUrl" width="100" />
  <mat-form-field>
    <input matInput name="photoUrl" type="text" [(ngModel)]="photoUrl" />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="albumSearch"> Title </mat-label>
    <input matInput name="title" type="text" [(ngModel)]="title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Year</mat-label>
    <input matInput name="year" type="number" [(ngModel)]="year" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Artist</mat-label>
    <input matInput name="artist" type="text" [(ngModel)]="artist" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Stars</mat-label>
    <input matInput name="stars" type="number" [(ngModel)]="score" />
  </mat-form-field>
  <div class="album-actions">
    <button class="confirm-button" mat-raised-button (click)="updateAlbum()">
      Confirm
    </button>
    <button
      class="cancel-button"
      mat-raised-button
      color="warn"
      mat-dialog-close
    >
      Cancel
    </button>
  </div>
</div>
