/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #c0f4e4;
  background-image: url("./assets/images/musicBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Opcional: fija la imagen de fondo */
  background-position: center center;
}
